.app__works {
  background-color: #46364a;
}

#work {
  background-color: #394359;
  box-shadow: 0 0 20px rgba(#333, 0.5);
}


.app__works-badge {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
  margin-top: 1rem;

  .badge-cmp, .tag-cmp {
    justify-content: center;
    align-items: center;
    padding: 1rem 3rem;
    border: var(--black-color);
    border-radius: 15px;
    flex-direction: row;

    width: auto;
    box-shadow: 0 0 20px rgba(#333, 0.5);
    z-index: 2;
  }

  .tag-cmp {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    z-index: 2;

    p {
      width: 100%;
      text-transform: uppercase;
      text-align: right;
      z-index: 2;
    }
  }

  span {
    font-size: 3rem;
    @media screen and (min-width: 2000px) {
      font-size: 5rem;
    }
  }

  @media screen and (max-width: 1200px) {
    justify-content: flex-start;
    align-items: flex-start;
  }
}